@model bool

<div class="login-panel">
    @if (Model)
    {
 
    <a id="logout" class="nav-link text-light" style="cursor: pointer">Logout</a>
    }
    else
    {
    <a class="nav-link text-light" style="cursor:pointer" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
    }
</div>
