<div class="modal" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button" asp-area="" asp-controller="Account" asp-action="Logout"><span aria-hidden="true">×</span></button>
             
            </div>

            <div class="modal-body" id="modalMessage">You have been logged out</div>

            <div class="modal-footer">
                <!-- Approve Button -->
                <button id="redirectLogin" class="logout btn btn-primary" type="button">Go To Login</button>
            </div>
        </div>
    </div>
</div>